.carousel {
    position: relative;
    width: 100%;
    max-width: 1000px; 
    margin: auto; 
    overflow: hidden; 
    border-radius: 8px; 
    color:red !important;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease; 
    will-change: transform; 
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box; 
}

.carousel-image {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: red !important; 
    color:red !important;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    z-index: 10; 
}



.slick-prev:before, .slick-next:before {
    color: red; 
    font-size: 30px; 
}

.slick-prev {
    left: -40px; 
    z-index: 1;
}

.slick-next {
    right: -40px; 
    z-index:1;
}


.carousel-button:hover {
    background-color: red;
    transition: background-color 0.3s;
}
