.content{
  margin-top: 90px;
  display: flex;
}
.left{
  height: calc(100vh - 90px);
  width: 100%;
  flex: 1;
}
.profile{
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  border-right: 5px solid green;
  transition: width 0.3s ease;
  position: relative;
}
.details{
  align-self: center;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.closed{
  width: 5%;
}
.right{
  height: 100%;
  width: 100%;
  flex: 3;
}
.toggle-button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 50px;
  width: 30px;
  color: green;
  position: absolute;
  top: 50%;
  right: 0%;
  left: calc(100% - 15px);
  z-index: 10;
  transform: translateY(-50%);
  background-color: #fff; 
  border: 2px solid green; 
  border-radius: 10%; 
  cursor: pointer;
}
