.identifyPage {
  background-image: url('https://images.pexels.com/photos/1643402/pexels-photo-1643402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.identifyPage {
  padding-top: 50px;
}

.content2 {
  text-align: center;
}

.titleContainer {
  margin: 50px 0;
}

.titleContainer h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin: 0;
}

.titleContainer h2 {
  font-size: 1.5rem;
  color: var(--ternary-color);
  margin: 8px 0;
}

.counters {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: -10px;
}

.counter p {
  font-size: 1.2rem;
  color: white;
}

.uploadContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 300px;
  border: 3px dashed white;
  border-radius: 10px;
  background-color: rgba(169, 168, 168, 0.1);
  cursor: pointer;
  position: relative;
}

.uploadInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.uploadIcon {
  font-size: 3rem;
  color: white;
}

.uploadBox p {
  margin-top: 10px;
  font-size: 1.5rem;
  color: white;
}

.imagePreviewContainer {
  margin: 50px 0;
  text-align: center;
}

.imagePreview {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.backButton,
.identifyButton {
  margin: 20px 10px 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  width: 200px;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.backButton {
  background-color: rgb(230, 61, 61);
}

.identifyButton {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.identifyButton .identifyIcon {
  margin-right: 8px;
}

.backButton:hover {
  background-color: var(--secondary-color);
}

.identifyButton:hover {
  background-color: var(--secondary-color);
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  width: 70%;
}

.infoContainer strong{

  color:black;
  font-size: 1.3rem;
  
}
.infoBox {
  background: rgba(255, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  position: relative;
}
.infoBox:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.infoBox p {
  margin: 5px 0;
}

.kingdomPhylum, .funFact, .legalConsequences, .pastCrimeExamples {
  border: 3px solid white;
}

.kingdomPhylum {
 background-color: rgb(44, 135, 74);
  color:white;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 4.5s ease-out forwards;
}

.slideInFromRight {
  animation: slideInFromRight 4.5s ease-out forwards;
}

.animalName{
  font-size: 2rem;
  color:white;

}
.funFact {
  background-color: rgb(19, 120, 19);
  color:white;
}

.legalConsequences {
  background-color: rgb(247, 47, 47);
  color:white;
}

.pastCrimeExamples {
  background-color: rgb(247, 47, 47);
  color:white;
}

.loadingContainer {
  position: fixed; 
  top: 90px; 
  left: 0; 
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  background-color: rgba(163, 157, 157, 0.8);
}

.loadingContainer img {
  max-width: 50%;
  max-height: 50%;
  filter: grayscale(100%) brightness(0) contrast(1000%)
}
.loadingContainer p {
  margin-top: 10px; 
  font-size: 40px;
  color: black;
  text-align: center;
}



@media (max-width: 768px) {
  .titleContainer h1 {
    font-size: 1.8rem;
  }

  .titleContainer h2 {
    font-size: 1.2rem;
  }

  .counters {
    flex-direction: column;
    align-items: center;
  }

  .counter {
    margin-bottom: 20px;
  }

  .uploadBox {
    width: 80%;
    height: auto;
    padding: 20px 10px;
  }

  .uploadIcon {
    font-size: 2rem;
  }

  .uploadBox p {
    font-size: 1rem;
  }

  .imagePreview {
    max-width: 100%;
  }

  .backButton {
    width: 80%;
    padding: 10px;
  }
}
