.myproject-container {
  height: 100%;
  width: 100%;
}

.myproject-map-background {
  height: 100%;
  width: 100%; 
}

.myproject-loading {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin: 20px;
}

