.myproject-info-container {
  padding: 20px;
  border: 1px solid #8B4513; 
  border-radius: 5px;
  max-width: 800px;
  margin: 120px auto;
  margin-bottom:60px;
  background-color: #F5F5DC; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.myproject-info-container h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #2E8B57; 
}

.myproject-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.myproject-button {
  background-color: #8B4513; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}

.myproject-button:hover {
  background-color: #5A2D0C;
}

.myproject-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.myproject-details p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
}

.myproject-container {
  position: relative;
  height: 80vh;
  width: 100%;
  margin-bottom: 30px;
}

.myproject-map-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 80%; 
  z-index: 1;
}

.myproject-loading {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin: 20px;
}

.wrap-span{
  margin: 4px;
  padding: 4px;
  background-color: green;
  position: absolute;
  right: 0;
  top: 0;
  border: yellow solid 4px;
  border-radius: 12px;
  cursor: pointer;
}

.wrap-span:hover{
  border: #8B4513 solid 4px;
}
.generate{
  color: white;
}
.generate:hover{
  text-decoration: underline
}
.dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: scroll;
  border: green solid 4px;
  border-radius: 12px;
}
.modal{
  min-height: 80vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.dialog-buttons{
  width: 855px;
  padding: 3px;
  margin: 3px;
  display: flex;
  justify-content: center;
  gap: 15px;
}